* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: young-serif;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(164, 233, 233);
    font-family: outfit;
}

.box {
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
    border-radius: 15px;
}

.pretime {
    background-color: rgb(241, 230, 230);
    padding: 30px 50px;
    border-radius: 15px;
}

h1 {
    font-family: young-serif;
    top: 20px;
}

h2 {
    font-family: young-serif;
    color: red;
}

span {
    font-weight: bold;
}

.foot {
    background-color: rgb(241, 230, 230);
    padding: 30px 50px;
    border-radius: 15px;
    font-size: 13px;
    text-align: center;
}