* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: young-serif;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(164, 233, 233);
    font-family: outfit;
}

.box {
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
    border-radius: 15px;
}

.pretime {
    background-color: rgb(241, 230, 230);
    padding: 30px 50px;
    border-radius: 15px;
}

.tp {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 12px;
} 

li {
    padding-bottom: 5px;
}

ol {
    padding-left: 13px;
    padding-bottom: 10px;
}

.ingre {
    padding-left: 13px;
    padding-bottom: 10px;
}

h1 {
    font-family: young-serif;
    padding: 12px 0px 12px 0px;
}

h2 {
    font-family: young-serif;
    color: red;
    padding: 7px;
    padding-left: 0;
}

.par1 {
    padding-bottom: 20px;
}

.par2 {
    padding-top: 5px;
    padding-bottom: 12px;
}

span {
    font-weight: bold;
}

.foot {
    font-size: 13px;
    text-align: center;
}

table td {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.tab {
    padding-bottom: 40px;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: rgb(182, 182, 182);
}

#textfoot1 {
    padding-right: 30px;
    padding-top: 20px;
    font-weight: normal;
}

#textfoot2 {
    font-weight: normal;
    padding-top: 20px;
}